* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.hero ,
.footer {
    background-color: #1F2937;
    padding: 0 10%;
}

.container {
    padding: 82px 0px;
    display: flex;
}

.hero .header_logo {
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.hero_main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero_sec_text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.hero ul a {
    /* padding: 0 20px; */
    text-decoration: none;
    color: #E5E7EB;
}

.img_placeholder {
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_text {
    color: #F9FAF8;
}

.signup_button ,
.call_to_action {
    background-color: #3882f6;
}

.signup_button {
    padding: 6px 32px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid #3882f6;
    border-radius: 6px;
}

.signup_button:hover {
    cursor: pointer;
}

.child1,
.child2 {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
}