* {
    margin: 0px;
    padding: 0px;
}

.hero ,
.footer {
    background-color: #1F2937;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero_main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero_sec_text {
    font-size: 18px;
    color: #E5E7EB;
}

.img_placeholder {
    /* width: 600px; */
    /* height: 400px; */
    /* background-color: #E5E7EB; */
}

.signup_button ,
.call_to_action {
    background-color: #3882f6;
}

.signup_button {
    padding: 6px 32px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid #3882f6;
    border-radius: 6px;
    
}

.signup_button:hover {
    cursor: pointer;
}

.container {
    display: flex;
}

.child {
    flex: 1;
}